body{
    display: flex;
    flex-wrap: wrap;
    /* adds some space between sections (header and main) */
    gap: 1rem;
}

header{
    padding: 2rem;
    /* means crow this box as wide as possible */
    flex-grow: 1; 
    /* sets an exact property relative to  page width. You will see that flex grow overrides this to fill up missing space. */
    flex-basis: 100%;
}
main{
    flex-grow: 1; 
}
section{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}
a{
    display: inline-block;
    padding: 2rem;

}
ol{
    flex-basis: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* change color with hover */
li:hover{
    box-shadow: 10px 10px 3px var(--pale-grey);
    filter: blur(0);

}

.example {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;

}

.list-container {
    /* this describes the flex of this element relative to the parent flex box */
    background-color: var(--hover-grey);
    flex-basis: 100%;
    list-style: none;
    padding: 1rem;
    margin: 1rem;

    /* this describes the nested elements */
    display: flex;
    flex-wrap: wrap;
    gap: rem;
}

.list-item{
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 1rem;
}
/* variables */
:root{
    --bg-color: rgb(146, 140, 47);
    --text-color: black;
    --primary-color: maroon;
    --secondary-color: burlywood;
    --border-color: white;
    --light-grey: #e6e5e3;
    --hover-grey: rgb(199, 196, 180);
    --pale-grey: rgb(245, 242, 229);

}

/* Navigation Styling */
.topnav {
    overflow: hidden;
    background-color: #333;
    flex-wrap: wrap;
    flex-basis: 100%;
}
  
.topnav a {
    float: left;
    color: var(--light-grey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color:  var(--light-grey);
    ;
    color: black;
}

.topnav a:hover {
    background-color: var(--hover-grey);
    color: black;
}
  
body{
    display: flex;
    flex-wrap: wrap;
    /* adds some space between sections (header and main) */
    gap: 1rem;
    font-family: monospace;
    margin: 0;
    flex-basis: 100%;
}

.body-text {
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: var(--pale-grey);
}
.description {
    flex-wrap: wrap;
    flex-basis: 21%;
    box-sizing: border-box;
}
.image-flex {
    flex-wrap: wrap;
    flex-basis: 40%;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 30rem){
    #image-flex{flex-basis: 100%; flex-grow: 1;}
    #description {flex-basis: 100%;}
}

main{
    flex-grow: 1; 
}

@font-face {
    font-family: 'NectoMono';
    src:  url('NectoMono-Regular.woff2') format('woff2'),
}


.title{
    padding: 2rem;
    font-family: 'NectoMono', monospace;
}
h2{
    font-family: sans-serif;
    flex-basis: 100%;
    border: 2px solid var(--border-color);    
}

div{
    border: 2px solid var(--border-color);    
}
p{
    border: 2px solid var(--border-color);  
    font-family: 'NectoMono', monospace;
    padding: 1rem;  
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    color: Black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--light-grey);
    font-family: monospace;
}

.button:hover {
    background-color: var(--hover-grey);
    color: black;
}

a{
    display: inline-box;
    font-size: 2rem;
    font-weight: 800;
}

ol{
    flex-basis: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    /* transition to slower 
    transition: [property] [duration] [easing];
    transition: [all or background-color] 1s ease
    */
    padding: rem;
    transition: all 1s ease;
}

.list-item{
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    style=flex-basis:100%;
  }