body {
    background-color: aliceblue;
    max-width: 800px;
    margin:auto;
}

p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h2 {
    color: rgb(0, 18, 256);
}

.highlighted_pgs {
    background-color: burlywood;
    color: honeydew;
}
img {
    display: block;
    max-width: 95%;
    padding: 2rem;
    border: 2px solid red;
    box-sizing:border-box;

}
main {
    background-color: lavender;
}