body {
    background-color: aliceblue;
    max-width: 800px;
    margin:auto;
}

p {
    font-size: 18px;
}

h2 {
    
}

img {
    display: block;
    max-width: 95%;
    padding: 2rem;
    box-sizing:border-box;

}
main {
    background-color: bisque;
}