/* variables */
:root{
    --bg-color: rgb(146, 140, 47);
    --text-color: black;
    --primary-color: maroon;
    --secondary-color: burlywood;
    --border-color: black;
}

/* Navigation Styling */
.topnav {
    overflow: hidden;
    background-color: #333;
    flex-wrap: wrap;

    flex-basis: 100%;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #929180;
    color: white;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
body{
    display: flex;
    flex-wrap: wrap;
    /* adds some space between sections (header and main) */
    gap: 1rem;
    font-family: monospace;
    margin: 0;
    flex-basis: 100%;
}

.body-text {
    flex-wrap: wrap;
    flex-basis: 100%;
}
.description {
    flex-wrap: wrap;
    flex-basis: 20%;
}
.image-flex {
    flex-wrap: wrap;
    flex-basis: 77%;
    align-items: center;
}

@media screen and (max-width: 30rem){
    #image-flex{flex-basis: 100%;
    flex-grow: 1;}
    #description {flex-basis: 100%;}
}
/* 
Was trying to figure the sizing .css from the site model, but it looks like they upload square images and only scale, not crop. 
.nothing-crop{
    <img class="object-fit-cover h-100 w-100 " sizes="(min-width: 1920px) 1920px, (min-width: 767px) 100vw, 100vw" srcset="//;width=375 375w,;width=550 550w,//v=1688994279&amp;width=750 750w,//us.nothing.tech/cdn/shop/files/Phone-2-PDP-Header-Desktop.jpg?v=1688994279&amp;width=1200 1200w,//us.nothing.tech/cdn/shop/files/Phone-2-PDP-Header-Desktop.jpg?v=1688994279&amp;width=1500 1500w,;width=1920 1920w,//width=2400 2400w,//width=3000 3000w,/ 3000w" loading="lazy" width="3000" height="2000" >
} */

header{
    border: 1px solid red;
    padding: 2rem;
    /* means crow this box as wide as possible */
    /* sets an exact property relative to  page width. You will see that flex grow overrides this to fill up missing space. */
    flex-basis: 100%;
}
main{
    flex-grow: 1; 
}
h1{
    font-family: monospace;
    flex-basis: 100%;
    border: 2px solid var(--border-color);    
}

.title{
    padding: 2rem;
}
h2{
    font-family: sans-serif;
    flex-basis: 100%;
    border: 2px solid var(--border-color);    
}

div{
    border: 2px solid var(--border-color);    
}
p{
    border: 2px solid var(--border-color);  
    padding: 1rem;  
    padding-top: 2rem;
    padding-bottom: 2rem;
}
section{
    border: 1px solid blue;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

a{
    border: 1px solid black
    display: inline-box;
}

ol{
    flex-basis: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    background-color: azure;
    /* transition to slower 
    transition: [property] [duration] [easing];
    transition: [all or background-color] 1s ease
    */
    transition: all 1s ease;
}

.list-item{
    border: 1px solid coral;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    style=flex-basis:100%;
  }