body{
    display: flex;
    flex-wrap: wrap;
    /* adds some space between sections (header and main) */
    gap: 1rem;
    background-color: aquamarine;
}

header{
    border: 1px solid red;
    padding: 0;
    /* means crow this box as wide as possible */
    flex-grow: 1; 
    /* sets an exact property relative to  page width. You will see that flex grow overrides this to fill up missing space. */
    flex-basis: 100%;
}

main{
    flex-grow: 1; 
}

section{
    border: 1px solid blue;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

a{
    display: inline-block;
    text-decoration: none;
}

ol{
    flex-basis: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li{
    background-color: azure;
    /* transition to slower 
    transition: [property] [duration] [easing];
    transition: [all or background-color] 1s ease
    */
    transition: all 1s ease;
}

/* change color with hover */

p:hover{
    /* background-color: blueviolet; */
    /* see css gradient generator
    not animatable: 
        background-image: linear-gradient(90 deg red blue green);
    but can use filter hue rotate
        filter: hue-rotate(180deg); 
    */
    box-shadow: 10px 10px 3px red;
    filter: blur(0);

}

a:hover{
    /* background-color: blueviolet; */
    /* see css gradient generator
    not animatable: 
        background-image: linear-gradient(90 deg red blue green);
    but can use filter hue rotate
        filter: hue-rotate(180deg); 
    */
    box-shadow: 10px 10px 3px forestgreen;
    filter: blur(0);
    padding: 2rim;

}

.example {
    display: flex;
    border: 2px solid black;
    padding: 0;
    flex-wrap: wrap;

}

/* how to setup an animation, trackin is the call name */
@keyframes tracking{
    0%{
        letter-spacing: 0;
        color:  red;
        background-color: rgb(43, 219, 219);
        size: 222pt;
    }
    100%{
        letter-spacing: 40px;
        color: blue;
        background-color: rgb(197, 75, 94);
    }
}

/* applying animation */
h1{
    animation: tracking 1s linear infinite alternate;
}

@keyframes tracking-winner{
    0%{
        letter-spacing: 0;
        color:  red;
        background-color: cornflowerblue;
        font-size: 22pt;
        font-family: sans-serif;
    }
    100%{
        letter-spacing: 40px;
        color: blue;
        background-color: cornflowerblue;
        text-size-adjust: 88pt;
        font-family: sans-serif;
        font-size: 88pt;
    }
}

h2{
    animation: tracking-winner 4s linear infinite alternate;
}

.section-box {
    background-color: aliceblue;
    /* this describes the flex of this element relative to the parent flex box */
    list-style: none;
    padding: 0;
    margin: 0;

    /* this describes the nested elements */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    /* means crow this box as wide as possible */
    /* sets an exact property relative to  page width. You will see that flex grow overrides this to fill up missing space. */
    animation: tracking 20s linear infinite alternate;

}

.list-item{
    border: 1px solid coral;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    style=flex-basis: 100%;
  }